.main {
  text-align: center;
}

.choices {
  display: inline;
  list-style: none;
  list-style-type: none;
  display: flex;
  padding-left: 0;
}

.footer {
  border: 1px solid pink;
}

.hide {
  display: none;
}

.menu {
  border: 1px solid red;
}

.choice-container {
  border: 1px solid purple;
  cursor: pointer;
  flex: 1;
}

.subchoices {
  border: 1px solid green;
  position: absolute;
}

.subchoice {
  flex: 1;
}

.body {
  border: 1px solid blue;
  display: flex;
}

.block-1 {
  border: 1px solid black;
  flex: 1;
}

.block-2 {
  border: 1px solid black;
  flex: 2;
}

.block-3 {
  border: 1px solid black;
  flex: 3;
}

.article {
  border: 1px solid green;
  padding: 5px;
  margin: 5px;
  text-align: left;
}

.section {
  border: 1px solid cyan;
  padding: 5px;
  margin: 5px;
  text-align: left;
}
