.main {
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.h1-title {
  font-size: 19px;
  color: gray;
}

.h2-title {
  font-size: 27px;
  color: black;
  font-weight: bold;
}

.navbar {
  margin-top: 30px;
}

.footer {
  position: absolute;
  bottom: 0px;
  margin: auto;
  left: 0;
  right: 0;
}

.hide {
  display: none;
}

.body {
  display: flex;
}

.block-1 {
  flex: 1;
}

.block-2 {
  flex: 2;
}

.block-3 {
  flex: 3;
}

.article {
  padding: 5px;
  margin: 5px;
  text-align: left;
}

.section {
  padding: 5px;
  margin: 5px;
  text-align: left;
}

.pagination {
  justify-content: center;
}
